
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
<h1 class="page-header">Blog Feed</h1>

<button class="btn btn-warning" type="button" name="button"
*ngIf="!newPost" (click)="newBlogForm()">New Post</button>

<button class="btn btn-default" type="button" name="button"
*ngIf="!newPost" (click)="reloadFeed()" [disabled]="loadingFeed">
  <span class="glypicon glyphicon-repeat"></span>
  Reload</button>
<br>
<br>

 <!-- NEW BLOG FORM -->
 <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost">
  <div class="form-group">
    <!-- title -->
    <label for="title">Title</label>
    <div [ngClass]="{
      'has-success': form.controls.title.valid,
      'has-error': form.controls.title.dirty && form.controls.title.errors
    }">
      <input type="text" name="title" placeholder="*Blog Title" autocomplete="off" formControlName="title" class="form-control">
      <ul class="help-block">
        <li  class="list-group-item" *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">
          This field is required.
        </li>
        <li class="list-group-item" *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) ||
        (form.controls.title.dirty && form.controls.title.errors?.maxlength)">
          Max length: 50, Min length: 5
        </li>
        <li class="list-group-item" *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">
          Must be a letter or number.
        </li>
      </ul>
    </div>
    <!-- title end -->
    <!-- body -->
    <label for="body">Body</label>
    <div [ngClass]="{
      'has-success': form.controls.body.valid,
      'has-error': form.controls.body.dirty && form.controls.body.errors
    }">
    <textarea name="body" placeholder="*Body" formControlName="body" class="form-control" id="" cols="30" rows="10"></textarea>
      <ul class="help-block">
        <li  class="list-group-item" *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">
          This field is required.
        </li>
        <li class="list-group-item" *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) ||
        (form.controls.body.dirty && form.controls.body.errors?.maxlength)">
          Max length: 500, Min length: 5
        </li>
      </ul>
    </div>
    <!-- body end -->
    <button type="button" name="button"  class="btn btn-warning" (click)="goBack()" [disabled]="processing">Go Back</button>
    <button type="submit" name="button"  class="btn btn-success" [disabled]="processing || !form.valid">Submit</button>
  </div>
 </form>
 <!-- NEW BLOG FORM END -->


  <div *ngIf="!newPost">
    <div class="panel panel-primary" *ngFor="let blog of listOfBlogs">
      <div class="panel-heading">
        <h3 class="panel-title">{{blog.title}}</h3>
      </div>
      <div class="panel-body">
        {{blog.body}}
      </div>
      <!-- footer start -->
      <div class="panel-footer">
         <strong>Posted by:</strong> {{blog.createdBy}}
         <br>
         <strong>Date:</strong> {{blog.createdAt | date: 'MMM dd, yyyy'}}
        <!-- <div *ngIf="!username === blog.createdBy"> -->
        <div>
           <strong>Likes: </strong> {{blog.likes}}
           <br>
           <strong>Dislikes: </strong> {{blog.dislikes}}
        </div>
        <br>
        <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
        <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

        <!-- likes dropdown -->
        <div class="dropdown">
          <button
          *ngIf="username !== blog.createdBy"
          class="btn btn-sm btn-success dropdown-toggle" id="dropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" name="button">
            <span class="glyphicon glyphicon-thumbs-up"></span> Likes: {{blog.likes}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownLink" *ngIf="blog.likedBy.length > 0">
            <li class="dropdown-item" *ngFor="let liked of blog.likedBy"><a href="">{{liked}}</a></li>
          </ul>
        </div>
        <!-- end likes dropdown -->
        <!-- dislikes dropdown -->
        <div class="dropdown">
          <button
           *ngIf="username !== blog.createdBy"
          class="btn btn-sm btn-danger dropdown-toggle" id="dropdownLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" name="button">
            <span class="glyphicon glyphicon-thumbs-down"></span> Dislikes: {{blog.dislikes}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownLink" *ngIf="blog.dislikedBy.length > 0">
            <li class="dropdown-item" *ngFor="let disliked of blog.dislikedBy"><a href="">{{disliked}}</a></li>
          </ul>
        </div>
        <!-- end dislikes dropdown -->
      </div>
      <!-- footer end -->

      <ul class="list-group">
        <li class="list-group-item">
          <button class="btn btn-sm btn-danger" type="button" name="button"
          (click)="draftComment()">Post Comment</button>
          <br>
          <!-- <form action="">
            <textarea name="comment" id="" cols="30" rows="10" class="form-control"></textarea>
            <button type="button" name="button" class="btn btn-sm btn-info">Submit Post</button>
            <button type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>
          </form> -->
        </li>
      </ul>

    </div>

  </div>
</div>
